* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    height: 100vh;
    display: grid;
    background-color: rgb(28, 91, 151);
}

section {
    width: 90%;
    height: 70%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    position: relative;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    font-size: 15pt;
    flex-shrink: 0;
}

h2{
    margin-left: 5%;
    margin-top: 6%;
    color: #39395d;
}

main ul {
    height: 90%;
    background-color: aqua;
    width: 100%;
    overflow: auto;
    list-style: none;
}

details {
    background-color: white;
    height: 100%;
}

summary {
    background-color: #39395d;
    list-style: none;
    height: 100%;
}

main ul li {
    cursor: pointer;
    margin: 2%;
    min-height: 12%;
}

nav {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    flex-shrink: 0;
    position: relative;
    left: 0;
    font: 14pt tahoma;
    /* animation: menu 1s 1s forwards; */
}






@keyframes voltarMenu {
    to {
        left: 100%;
    }
}

@keyframes menu {
    to {
        left: -100%;
    }
}

nav ul{
    position: absolute;
    background-color: brown;
    height: 100%;
    width: 40%;
    right: 0;
    color: white;
    display: inline-block;
    list-style-type: none;
}

.lista{
    border-collapse: separate;
    margin-top: 100px;
}

ul li {
    margin: 10px;
    border-bottom: 2px solid white;
    padding: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu{
    position: absolute;
    top: 7%;
    right: 5%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.menu span{
    display: inline-block;
    position: absolute;
    margin: 0;
    height: 5px;
    width: 30px;
    background-color: rgb(2, 2, 2);
}

.n1{
    top: 0;
    /* animation: virar .5s 1s normal forwards; */
}

.n2{
    top: 10px;
}

.n3{
    top: 20px;
    /* animation: virar2 .5s 1s normal forwards; */
}

@keyframes virar {
    to{
        top: 10px;
        transform: rotate(-45deg);
    }
}

@keyframes virar2 {
    to{
        top: 10px;
        transform: rotate(45deg);
    }
}

@keyframes retornar {
    to {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes retornar2 {
    to {
        top: 20px;
        transform: rotate(0deg);
    }
}





@media (min-width:714px){
    section {
        width: 600px;
    }
}

