.menu{
    position: absolute;
    top: 7%;
    right: 5%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.menu span{
    display: inline-block;
    position: absolute;
    margin: 0;
    height: 4px;
    width: 30px;
    background-color: rgb(2, 2, 2);
}

.n1{
    top: 0;
    
}

.n2{
    top: 10px;
}

.n3{
    top: 20px;
   
}

nav {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    flex-shrink: 0;
    position: relative;
    left: 0;
    font: 14pt tahoma;

}

nav ul{
    position: absolute;
    background-color: brown;
    height: 100%;
    width: 40%;
    right: 0;
    color: white;
    display: inline-block;
    list-style-type: none;
}

.lista{
    border-collapse: separate;
    margin-top: 100px;
}

ul li {
    margin: 10px;
    border-bottom: 2px solid white;
    padding: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes virar {
    from{
        transform: rotate(0);
        top: 0;
    }
    to{
        top: 10px;
        transform: rotate(-45deg);
    }
}

@keyframes virar2 {
    from{
        top: 20px;
        transform: rotate(0);
    }
    to{
        top: 10px;
        transform: rotate(45deg);
    }
}

@keyframes retornar {
    from{
        top: 10px;
        transform: rotate(-45deg);
    }
    to {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes retornar2 {
    from{
        top: 10px;
        transform: rotate(45deg);
    }
    to {
        top: 20px;
        transform: rotate(0deg);
    }
}

@keyframes voltarMenu {
    from{
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes menu {
    from{
        left: 0;
    }
    to {
        left: -100%;
    }
}