<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitema de cadastro de produtos</title>
    <link rel="stylesheet" href="./css/index.css" defer>
    <link rel="stylesheet" href="./css/menu.css" defer>
    <script src="./js/menu.js" defer></script>
    <script src="./js/index.js" defer></script>
</head>

<body>

    <main>

        <form action="/" name="formulario" method="post">
            <header>
                <h1>Cadastro de produtos</h1>

            </header>

            <section>
                <div>
                    <label for="categorias">Selecione a categoria do produto: </label>
                    <select id="categorias" name="categoria">
                        <option value="Acessorio">Acessórios</option>
                        <option value="Eletronico">Eletrônicos</option>
                        <option value="Bebida">Bebidas</option>
                        <option value="Alimento">Alimentos</option>
                        <option value="Generica">Outros</option>
                    </select>
                </div>

                <div id="divCategoria">
                    <label for="novaCategoria">Informe a Categoria*: </label>
                    <input type="text" id="novaCategoria" placeholder="Categoria" name="novaCategoria">
                </div>

                <div class="container">
                    <div>
                        <label for="name">Nome do produto*: </label> <br>
                        <input type="text" id="name" name="produto" placeholder="Produto" required>
                    </div>
                    <div>
                        <label for="valor">Valor*:</label> <br>
                        <input type="text" id="valor" name="valor" placeholder="R$0,00" required> 
                    </div>

                </div>

                <button class="enviar" type="button">Cadastrar</button>

            </section>
        </form>

        <%- include('../layout/menu') %>

    </main>

    <script>

        const message = "<%= mensagem %>";

        if (message) {

            alert(message);
        }

    </script>

</body>

</html>